body {
  display: flex;
  text-size: 18px;
  color: rgb(0 100 0 15);
  background-color: rgb(100 0 100 0);
}
.navbox {
  display: flex;
  color: black;
  position: top;
  width: 270px;
  height: 128px;
  align-items: vertical;
  list-style: none;
  }
